<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{'flex': fullWidthMode}">
        <img class="mb-1 w-72 mx-auto h-[200px]" [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode}" src="{{product.image}}"/>
        <div class="w-80" [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <div>
                <h5>{{product.category}}</h5>
                <p class="p-4">{{product.title}}</p>
                <p *ngIf="fullWidthMode">{{product.description}}</p>
            </div>
            <div class="px-7 pb-7 flex justify-between">
                <span class="text-red-400">{{product.price| currency}}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>